* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  padding-bottom: 10px;
}
/* --- GENEREL --- */
html {
  background-color: #38504d;
}
main {
  padding: 2%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}
h1 {
  font-family: "Anton", sans-serif;
  color: white;
  /* text-align: center; */
}

/* --- MOBILE VERSION--- */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #kampagne p {
    font-size: 0.8rem;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
}
h4 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 2.5rem;
  float: none;
}
p {
  color: white;
  font-family: tgn-soft-round, sans-serif;
}
.bold {
  font-weight: bold;
}
.curv {
  font-style: italic;
  padding-top: 3%;
  padding-bottom: 2%;
}
.underline {
  text-decoration: underline;
  font-size: 1rem;
  font-family: tgn-soft-round, sans-serif;
}
/* --- GENEREL SLUT --- */

/* Forestillinger */
.left4 {
  grid-column: 2;
  grid-row: 2;
}
/* second sektion  */
#second {
  display: grid;
  justify-content: center;
}

#second p {
  max-width: 350px;
}
.spaceborderbot {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px white solid;
}
.left2 {
  margin-top: 15%;
  margin-left: 10%;
}
.forestillinger1 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

.topbot1 {
  border-top: 5px white solid;
  border-bottom: 5px solid white;
}

/* --- MENU --- */
#menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  align-items: flex-end;
  padding: 1.2%;
  margin: 20px;
  flex-direction: row;
  font-family: "Anton", sans-serif;
  list-style-position: inside;
  float: right;
}
.toggle-btn {
  display: none;
}
/* --- MENU SLUT  --- */

/* --- BURGER MENU --- */
@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    position: relative;
    float: right;
    margin-left: 10%;
  }
  nav {
    display: none;
  }

  #menu {
    flex-direction: column;
    align-items: center;
  }
  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    z-index: 2;
    position: absolute;
    background: #38504d;
    width: 100%;
    height: 100%;
  }

  .menu-icons {
    width: 100%;
    height: 100%;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
  .toggle-btn.open .close,
  .burger {
    display: block;
  }

  li {
    width: 200px;
  }
}
/* --- BURGER MENU SLUT  --- */

/* --- SPLASH BILLEDE --- */
.bgimg {
  background-image: url("img/newsplash.png");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.pos {
  margin-top: 100%;
  width: 100%;
  margin-left: 30%;
}

/* --- SPLASH BILLEDE SLUT --- */

/* --- IMG --- */
.topbot {
  border-top: none;
  border-bottom: 5px white solid;
}
/* --- IMG SLUT --- */

/* --- SEKTION KAMPAGNE --- */
#kampagne p {
  margin-bottom: 10px;
}
.bordertop {
  border-top: 5px white solid;
}
.borderbottom {
  border-bottom: 5px white solid;
  padding-bottom: 30px;
}
/* --- SEKTION KAMPAGNE SLUT --- */

@media (max-width: 600px) {
  /* --- SEKTION FORSTILLINGER --- */
  /* #forestillinger {
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }*/
  .left {
    float: none;
    font-size: 1.5rem;
  }
  .spaceborder1 {
    border-top: 5px white solid;
    display: flex;
    justify-content: space-between;
  }

  .denisova p {
    font-size: 1rem;
  }

  .denisova h4 {
    /* border-bottom: 5px white solid; */
    font-size: 1rem;
  }

  .topbot {
    width: 100%;
  }

  .test {
    margin-left: 40%;
  }
  /* --- SEKTION FORSTILLINGER SLUT--- */
}

.left {
  font-size: 1rem;
}

@media (max-width: 600px) {
  /* --- SEKTION SECOND --- */
  /* #second {
    display: grid;
    justify-content: center;
  }
  #second p {
    max-width: 350px;
  }
  .spaceborderbot {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px white solid;
  }
  #second h4 {
    float: none;
  }
  .forestillinger1 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
  } */

  .test4 {
    float: right;
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .spaceborder2 {
    border-top: 5px white solid;
    display: flex;
    flex-direction: column;
  }

  .kannibalen p {
    font-size: 1rem;
  }

  .kannibalen h4 {
    /* border-bottom: 5px white solid; */
    font-size: 1rem;
  }

  .topbot1 {
    width: 100%;
  }

  #second a {
    font-size: 1.1rem;
  }

  #third a {
    font-size: 1.1rem;
  }

  .forestillinger1 {
    border-top: 5px white solid;
  }
}

/* --- SEKTION THIRD  --- */
#third {
  display: grid;
  justify-content: center;
}
.borderaround {
  display: grid;
  grid-template-columns: 1fr 0.92fr;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
  justify-content: center;
}
.borderleft {
  border-left: 5px white solid;
  width: 50%;
  justify-self: center;
  padding: 5%;
}
#priser {
  display: grid;
  max-width: 340px;
}
/* --- SEKTION THIRD SLUT --- */

/* --- SEKTION FOURTH --- */
#fourth {
  display: grid;
  justify-items: center;
}
#årskort {
  border-top: 5px white solid;
  padding: 2%;
  border-bottom: 5px white solid;
  max-width: 340px;
}
#priserto {
  display: grid;
  padding: 2%;
  max-width: 340px;
}
/* --- SEKTION FOURTH SLUT--- */

/* --- SKRAB VIND --- */
#fifth {
  display: grid;
  justify-content: center;
}
#skrab {
  /* border-top: 5px white solid; */
  padding: 2%;
  display: grid;
  text-align: center;
}
@media (max-width: 600px) {
  .max {
    max-width: 340px;
    padding: 2%;
  }
}
.nyhed {
  background-color: #577470;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  border: none;
  border-radius: 5px;
  width: 50%;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  input {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10%;
  }
}
/* --- SKRAB VIND SLUT --- */

/* --- FOOTER --- */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 2%;
  border-top: 2px white solid;
}

footer img {
  width: 50%;
}
#socialmedia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 0%;
}
/* --- FOOTER SLUT --- */

/* #galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#galleri p {
  border: 2px white solid;
  padding: 15%;
  text-align: center;
} */

/* --- DESKTOP VERSION--- */
@media (min-width: 600px) {
  /* Logo */

  .bgimg {
    background-image: url("img/newsplash.png");
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
  }

  .pos {
    margin: 0 auto;
    width: 50%;
    margin-top: 10%;
  }

  /* --- GENEREL --- */
  h1 {
    font-size: 3rem;
  }

  h4 {
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 2.5rem;
    float: right;
  }
  /* --- GENEREL SLUT --- */

  /* --- SKRAB VIND --- */
  .max {
    max-width: 700px;
  }

  input {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10%;
    width: 60%;
    padding-left: 5px;
  }

  .nyhed {
    width: 39%;
    border-radius: 5px;
  }
  /* --- SKRAB VIND SLUT --- */

  /* --- SEKTION FORSTILLINGER --- */
  .forestilling_section {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 5px white solid;
  }

  #billede1 {
    grid-column: 2;
    grid-row: 1 / -1;
  }
  img {
    width: 100%;
  }
  .denisova {
    grid-column: 1;
  }

  .denisova h3 {
    font-size: 4.2rem;
  }

  .denisova h4 {
    font-size: 2rem;
    padding-right: 20px;
  }

  .test,
  .test1 {
    padding-right: 10px;
  }

  .topbot {
    border-bottom: none;
    border-left: 5px white solid;
    border-top: none;
  }

  .spaceborder1 {
    grid-column: 1;
    grid-row: 2;
  }
  .test {
    grid-column: 1;
    grid-row: 2;
  }
  .spaceborder1 {
    border-top: 5px white solid;
    display: flex;
    flex-direction: column;
  }

  .left {
    font-size: 1.5rem;
    padding-right: 2%;
    margin-top: 40%;
  }
  /* --- SEKTION FORSTILLINGER SLUT--- */

  /* --- SEKTION SECOND --- */
  .second_section {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto;
    border-bottom: 5px white solid;
  }

  #billede2 {
    grid-column: 1;
    grid-row: 1 / -1;
  }
  img {
    width: 100%;
  }
  .kannibalen {
    grid-column: 2;
    padding-left: 10px;
  }

  .kannibalen h3 {
    font-size: 4.2rem;
  }

  .kannibalen h4 {
    font-size: 2rem;
  }

  .topbot1 {
    border-bottom: none;
    border-right: 5px white solid;
    border-top: none;
  }

  .spaceborder2 {
    grid-column: 2;
    grid-row: 2;
  }

  .left4 {
    grid-column: 2;
    grid-row: 2;
  }

  .spaceborder2 {
    display: flex;
    flex-direction: column;
    border-top: 5px white solid;
    width: 600px;
    padding-left: 2%;
    padding: 3%;
  }

  .test4 {
    font-size: 1.5rem;
    margin-top: 20%;
  }
  #second a {
    font-size: 1.5rem;
  }
  /* --- SEKTION FORSTILLINGER SLUT--- */

  /* SEKTION THIRD */
  #third {
    display: grid;
    justify-items: center;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-bottom: 5px white solid;
  }
  .borderaround {
    display: flex;
    width: 100%;
    margin-bottom: -1.3%;
    flex-direction: column;
    border-top: none;
    border-bottom: 5px white solid;
    justify-content: center;
    border-right: 5px white solid;
    grid-column: 2/3;
    grid-row: 1 / -1;
  }
  #third img {
    width: 70%;
    margin-top: 20%;
  }

  #third h3 {
    border-bottom: 5px white solid;
  }
  .borderleft {
    border-left: none;
    width: 50%;
    justify-self: center;
    padding: 5%;
  }
  #priser {
    grid-row: 1 / -1;
    grid-column: 3;
    margin-top: 20%;
  }

  #testoo {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .forestillinger1 {
    grid-area: 1 / 3;
    border-bottom: 5px solid white;
    height: 30%;
  }

  #third a {
    font-size: 2rem;
  }

  /* SEKTION FOURTH */
  #fourth {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 5px solid white;
    height: 350px;
    margin: 2%;
  }
  #årskort {
    border-top: none;
    padding: 5%;
    border-bottom: none;
    border-left: 5px white solid;
    grid-area: 1 / 3;
  }
  #priserto {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row: 1fr auto;
    padding: 2%;
    grid-column: 1/2;
    gap: 50px;
    margin-left: 100%;
    margin-top: 10%;
  }

  #kort {
    grid-column: 1/10;
    grid-row: 1;
  }

  #kortto {
    grid-row: 1;
    grid-column: 8/14;
  }

  #gebyr {
    grid-row: 2;
    grid-column: 1/14;
  }
  /* --- FOOTER--- */
  footer img {
    width: 30%;
  }
  #socialmedia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
  }
  /* --- FOOTER SLUT--- */
}
