* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  align-items: flex-end;
  padding: 1.2%;
  margin: 20px;
  flex-direction: row;
  font-family: "Anton", sans-serif;
  list-style-position: inside;
  float: right;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}

html {
  background-color: #38504d;
}

.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    position: relative;
    float: right;
    margin-left: 10%;
  }
  nav {
    display: none;
  }

  #menu {
    flex-direction: column;
    align-items: center;
  }
  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    z-index: 2;
    position: absolute;
    background: #38504d;
    width: 100%;
    height: 100%;
  }

  .menu-icons {
    width: 100%;
    height: 100%;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
  .toggle-btn.open .close,
  .burger {
    display: block;
  }

  li {
    width: 200px;
  }
}

.bgimg {
  background-image: url("img/splash.png");
  min-height: 940px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pos {
  grid-area: 2/2;
}

h2 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.topbot {
  border-top: 5px white solid;
  border-bottom: 5px white solid;
}

#forestillinger {
  display: grid;
  justify-content: center;
}

h3 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
}

p {
  color: white;
}

h4 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 2.5rem;
  float: right;
}

.left {
  float: none;
  font-size: 1.5rem;
}

#second {
  display: grid;
  justify-content: center;
}

#second p {
  max-width: 350px;
}

.spaceborder {
  display: flex;
  justify-content: space-between;
  border-top: 5px white solid;
}

.spaceborderbot {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px white solid;
}

#second h4 {
  float: none;
}
