* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  padding-bottom: 10px;
}
/* --- GENEREL --- */
html {
  background-color: #38504d;
}
main {
  padding: 2%;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}
h1 {
  font-family: "Anton", sans-serif;
  color: white;
  /* text-align: center; */
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  #kampagne p {
    font-size: 0.8rem;
  }
}

h2 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 3rem;
}
h4 {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 2.5rem;
  float: right;
}
p {
  color: white;
  font-family: tgn-soft-round, sans-serif;
}
.bold {
  font-weight: bold;
}
.curv {
  font-style: italic;
  padding-top: 3%;
  padding-bottom: 2%;
}
.underline {
  text-decoration: underline;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* --- GENEREL SLUT --- */

/* --- MENU --- */
#menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  align-items: flex-end;
  padding: 1.2%;
  margin: 20px;
  flex-direction: row;
  font-family: "Anton", sans-serif;
  list-style-position: inside;
  float: right;
}
.toggle-btn {
  display: none;
}
/* --- MENU SLUT  --- */

/* --- BURGER MENU --- */
@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    position: relative;
    float: right;
    margin-left: 10%;
  }
  nav {
    display: none;
  }

  #menu {
    flex-direction: column;
    align-items: center;
  }
  nav.shown {
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    z-index: 2;
    position: absolute;
    background: #38504d;
    width: 100%;
    height: 100%;
  }

  .menu-icons {
    width: 100%;
    height: 100%;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
  .toggle-btn.open .close,
  .burger {
    display: block;
  }

  li {
    width: 200px;
  }
}
/* --- BURGER MENU SLUT  --- */

/* --- SPLASH BILLEDE --- */
.bgimg {
  background-image: url("img/splash.png");
  min-height: 940px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pos {
  grid-area: 2/2;
}
/* --- SPLASH BILLEDE SLUT --- */

/* --- IMG --- */
.topbot {
  border-top: 5px white solid;
  border-bottom: 5px white solid;
}
/* --- IMG SLUT --- */

/* --- SEKTION KAMPAGNE --- */
#kampagne p {
  margin-bottom: 10px;
}
.bordertop {
  border-top: 5px white solid;
}
.borderbottom {
  border-bottom: 5px white solid;
  padding-bottom: 30px;
}
/* --- SEKTION KAMPAGNE SLUT --- */

@media (max-width: 600px) {
  /* --- SEKTION FORSTILLINGER --- */
  #forestillinger {
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }
  .left {
    float: none;
    font-size: 1.5rem;
  }
  /* --- SEKTION FORSTILLINGER SLUT--- */
}

/* --- SEKTION SECOND --- */
#second {
  display: grid;
  justify-content: center;
}
#second p {
  max-width: 350px;
}
.spaceborder {
  display: flex;
  justify-content: space-between;
  border-top: 5px white solid;
}
.spaceborderbot {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px white solid;
}
.kannibalen {
  border-top: 5px white solid;
}
#second h4 {
  float: none;
}
.forestillinger {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}
/* --- SEKTION SECOND SLUT --- */

/* --- SEKTION THIRD  --- */
#third {
  display: grid;
  justify-content: center;
}
.borderaround {
  display: grid;
  grid-template-columns: 1fr 0.92fr;
  border-top: 5px white solid;
  border-bottom: 5px white solid;
  justify-content: center;
}
.borderleft {
  border-left: 5px white solid;
  width: 50%;
  justify-self: center;
  padding: 5%;
}
#priser {
  display: grid;
  max-width: 340px;
}
/* --- SEKTION THIRD SLUT --- */

/* --- SEKTION FOURTH --- */
#fourth {
  display: grid;
  justify-items: center;
}
#årskort {
  border-top: 5px white solid;
  padding: 2%;
  border-bottom: 5px white solid;
  max-width: 340px;
}
#priserto {
  display: grid;
  padding: 2%;
  max-width: 340px;
}
/* --- SEKTION FOURTH SLUT--- */

/* --- SKRAB VIND --- */
#fifth {
  display: grid;
  justify-content: center;
}
#skrab {
  /* border-top: 5px white solid; */
  padding: 2%;
  display: grid;
  text-align: center;
}
@media (max-width: 600px) {
  .max {
    max-width: 340px;
    padding: 2%;
  }
}
.nyhed {
  background-color: #577470;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  border: none;
  border-radius: 5px;
  width: 50%;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  input {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10%;
  }
}
/* --- SKRAB VIND SLUT --- */

/* --- FOOTER --- */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 2%;
  border-top: 2px white solid;
}
/* --- FOOTER SLUT --- */

/* #galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#galleri p {
  border: 2px white solid;
  padding: 15%;
  text-align: center;
} */

@media (min-width: 600px) {
  /* --- GENEREL --- */
  h1 {
    font-size: 3rem;
  }
  /* --- GENEREL SLUT --- */

  /* --- SKRAB VIND --- */
  .max {
    max-width: 700px;
  }
  /* --- SKRAB VIND SLUT --- */

  /* --- SKRAB VIND START --- */
  input {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10%;
    width: 60%;
    padding-left: 5px;
  }

  .nyhed {
    width: 39%;
    border-radius: 5px;
  }
  /* --- SKRAB VIND SLUT --- */
}

/* LILLE LØSNING SKAL ÆNDRES PÅ TIL FORESTILLINGER*/
@media (min-width: 600px) {
  #forestillinger {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 5px white solid;
  }

  #billede {
    grid-column: 2;
    grid-row: 1 / -1;
  }
  img {
    width: 100%;
  }
  .denisnova {
    grid-column: 1;
    border-bottom: 5px white solid;
  }

  .topbot {
    border-bottom: none;
    border-left: 5px white solid;
    border-top: none;
  }

  .spaceborder {
    grid-column: 1;
    grid-row: 2;
  }
  .test {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
  }
}
